
<div class="container-fluid dsc-skeleton-content">

    <div>
        <h1>Actualizar matrícula escolar</h1>
    </div>

<div class="nuevo_usuario">
    <button type="button" class="btn me-2 mb-2" (click)="irActualizarReg()">Actualizar Layout de Matricula</button>
    <button type="button" class="btn mb-2" (click)="irNuevoEst()">Agregar Alumno</button>
</div>

<br>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <div class="drag-area">
        <header>Subir archivo de la matrícula inscrita en layout en formato Excel, conforme a la estructura previamente definida</header>
        <br>
        <div class="icon">
            <img src="../../../assets/upload.png">
        </div>
        <br>
        <button class="btnUpload">Subir archivo</button>
        <input type="file" hidden>
    </div>

</div>
