<div class="container-fluid dsc-skeleton-content">

    <h1>Registro de asistencia</h1>

    <div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Boleta</th>
                    <th>Nombre</th>
                    <th>Primer Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Grupo</th>
                    <th>Programa Académico</th>
                    <th>Informe</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2019190109</td>
                    <td>Dante</td>
                    <td>Olvedo</td>
                    <td>Campos</td>
                    <td>1MI1</td>
                    <td>Tronco Común</td>
                    <td>
                        <button type="button" class="btn" style="cursor: pointer" (click)="irVerInf()">
                            Ver informe
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>2020195689</td>
                    <td>Jorge Luis</td>
                    <td>León</td>
                    <td>Acevedo</td>
                    <td>3IM2</td>
                    <td>Redes de Cómputo</td>
                    <td>
                        <button type="button" class="btn" style="cursor: pointer" (click)="irVerInf()">
                            Ver informe
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>2020191258</td>
                    <td>David</td>
                    <td>Morales</td>
                    <td>Rico</td>
                    <td>5IM3</td>
                    <td>Sistemas Automotrices</td>
                    <td>
                        <button type="button" class="btn" style="cursor: pointer" (click)="irVerInf()">
                            Ver informe
                        </button>
                    </td>
                </tr>
                <tr>
                    <td>2021194539</td>
                    <td>Carolina</td>
                    <td>Sánchez</td>
                    <td>Macedo</td>
                    <td>1IV5</td>
                    <td>Sistemas Mecánicos Industriales</td>
                    <td>
                        <button type="button" class="btn" style="cursor: pointer" (click)="irVerInf()">
                            Ver informe
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
