
<div class="container-fluid dsc-skeleton-content">
    <div>
        <h1>Atención a dudas</h1>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Boleta</th>
                <th>Alumno</th>
                <th>Grupo</th>
                <th>Fecha de creación</th>
                <th>Categoría</th>
                <th>Duda</th>
                <th>Respuesta</th>
                <th>Estado y acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2019190109</td>
                <td>
                    Dante Olmedo Campos
                    <br>
                    5532589605
                    <br>
                    dolmedoc@ipn.mx
                </td>
                <td>1M11</td>
                <td>10 mayo 2022</td>
                <td>Gestión escolar</td>
                <td>¿Cómo puedo tramitar una boleta parcial?</td>
                <td>Acude al departamento de Gestión Escolar en un horario de 8 a 15 horas</td>
                <td>
                    <b>Respondida</b>
                    <br>
                    10 mayo 2022
                    <br>
                </td>
            </tr>
            <tr>
                <td>2020195689</td>
                <td>
                    Jorge Luis León Acevedo
                    <br>
                    jleona@ipn.mx
                    <br>
                    5621489385
                </td>
                <td>3IM2</td>
                <td>28 mayo 2022</td>
                <td>Comisión de Situación Escolar</td>
                <td>Debo 5 materias, ¿cuál es la fecha para tramitar dictamen?</td>
                <td>Las fechas se publicarán en la página web de CET</td>
                <td>
                    <b>Respondida</b>
                    <br>
                    29 mayo 2022
                    <br>
                </td>
            </tr>
            <tr>
                <td>2020191258</td>
                <td>
                    David Morales Rico
                    <br>
                    dmoralesr@ipn.mx
                    <br>
                    5598563298
                </td>
                <td>5IM3</td>
                <td>10 junio 2022</td>
                <td>Reinscripciones</td>
                <td>¿Qué días son las reinscripciones?</td>
                <td>18 al 21 de julio de 2022</td>
                <td>
                    <b>Respondida</b>
                    <br>
                    10 mayo 2022
                    <br>
                </td>
            </tr>
            <tr>
                <td>2021194539</td>
                <td>
                    Carolina Sánchez Macedo
                    <br>
                    csanchez@ipn.mx
                    <br>
                    5598563240
                </td>
                <td>1IV5</td>
                <td>15 junio 2022</td>
                <td>Otras</td>
                <td>¿Cómo se realiza una denuncia de acoso?</td>
                <td>Acude con el representante de COSECOVI o consulta...</td>
                <td>
                    <button type="button" class="btn" style="cursor: pointer">
                        Responder
                    </button>
                    <button type="button" class="btn" style="cursor: pointer">
                        Descartar
                    </button>
                </td>
            </tr>
            <tr>
                <td>2020191258</td>
                <td>
                    David Morales Rico
                    <br>
                    dmoralesr@ipn.mx
                    <br>
                    5598563298
                </td>
                <td>5IM3</td>
                <td>10 junio 2022</td>
                <td>Becas</td>
                <td>Tres tristes tigres</td>
                <td></td>
                <td>
                    <b>Pregunta descartada</b>
                    <br>
                    11 junio 2022
                    <br>
                </td>
            </tr>
        </tbody>
    </table>

</div>