<body>

   
    <div class="container">
      <div class="screen">
        <div class="screen__content">
          <img [src]="ipn" alt=""> 
          <h1>
            " INSTITUTO POLITECNICO NACIONAL " 
          </h1>
          <h2>
            Cet 1 Walter Buchanans
          </h2>
          
          <app-login-form> 
            <!--nos inyecta el formulario aqui-->
          </app-login-form>
          <!-- <div class="social-login">
            <h3>log in via</h3>
            <div class="social-icons">
              <a href="#" class="social-login__icon fab fa-instagram"></a>
              <a href="#" class="social-login__icon fab fa-facebook"></a>
              <a href="#" class="social-login__icon fab fa-twitter"></a>
            </div>
          </div> -->
        </div>
        <div class="screen__background">
          <h3>
            " LA TECNICA AL SERVICIO DE LA PATRIA "
          </h3>	
          <span class="screen__background__shape screen__background__shape4"></span>
          <span class="screen__background__shape screen__background__shape3"></span>		
          <span class="screen__background__shape screen__background__shape2"></span>
          <span class="screen__background__shape screen__background__shape1"></span>
        </div>	
       
      </div>
      
    </div>
    
    </body>